In [1]:
import numpy as np
import pandas as pd

from os import path
import os
import glob
#from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

import matplotlib.pyplot as plt

from IPython.display import clear_output
from IPython.display import display

from collections import OrderedDict, defaultdict

import json

import itertools

pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('max_colwidth', 800)

In [11]:
data = pd.read_csv('/Users/michaelwilliams/Documents/MGH T32/Research/MHB/Analysis/MHB_Walkability/Analytic Dataset/Address_Data/Pre_Geocode/MyHealthyBrainAim2RC-Enrolled.csv')
data.head(2)

   id   redcap_event_name  caide_sex  caide_age  caide_education  caide_hypertension  caide_cholesterol  caide_height  caide_height_meters  caide_weight  caide_weight_kg  caide_bmi_calculation  caide_bmi  caide_physical_activity  caide_score  tics_total  faq_total                                    address                            address_geocode  initial_inquiry_v2  waitlist_referral_source
0  11  screening_ii_arm_1        NaN        NaN              NaN                 NaN                NaN           NaN                  NaN           NaN              NaN                    NaN        NaN                      NaN          NaN         NaN        NaN  410 Miller Lane  Rochester New York 14617  410 Miller Lane  Rochester New York 14617                  14                       5.0
1  13  screening_ii_arm_1        NaN        NaN              NaN                 NaN                NaN           NaN                  NaN           NaN              NaN                    NaN        NaN                      NaN          NaN         NaN        NaN          538 Fourth St  Marietta, OH 45750          538 Fourth St  Marietta, OH 45750                  14                       2.0

In [ ]:
#check clean(er) "address_geocode" column by hand
#data.filter(regex='addr')

In [13]:
#Create new  unique ID that is a string, easier to preserve 
data["id_MHB"] = data["id"].astype(str) + "_MHB"
data.filter(regex='id').head(5)

   id  caide_sex  caide_age  caide_education  caide_hypertension  caide_cholesterol  caide_height  caide_height_meters  caide_weight  caide_weight_kg  caide_bmi_calculation  caide_bmi  caide_physical_activity  caide_score  id_MHB
0  11        NaN        NaN              NaN                 NaN                NaN           NaN                  NaN           NaN              NaN                    NaN        NaN                      NaN          NaN  11_MHB
1  13        NaN        NaN              NaN                 NaN                NaN           NaN                  NaN           NaN              NaN                    NaN        NaN                      NaN          NaN  13_MHB
2  16        NaN        NaN              NaN                 NaN                NaN           NaN                  NaN           NaN              NaN                    NaN        NaN                      NaN          NaN  16_MHB
3  25        NaN        NaN              NaN                 NaN                NaN           NaN                  NaN           NaN              NaN                    NaN        NaN                      NaN          NaN  25_MHB
4  30        NaN        NaN              NaN                 NaN                NaN           NaN                  NaN           NaN              NaN                    NaN        NaN                      NaN          NaN  30_MHB

In [14]:
data.to_csv('MyHealthyBrain_Addresses_PreGeocode.csv', index=False)